.TATU{
    
    width: 1300px;
    background: #fff;
    padding: 20px;
    
    
}

 #RET{
     margin-left: 50% ;
     margin-top: none;
     padding-top: 0%;
     position:top;
}

#ROT{
    margin:4% auto 0;
    
}
.WEQ{
    margin-left:30%;
}

